@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Sacrament Meeting</h1>
    <h1 class="display-6">Welcome Team Cumorah</h1>
    <img src="http://mediad.publicbroadcasting.net/p/upr/files/styles/large/public/201311/Salt_Lake_Temple.jpg" alt="Temple" style="background-size:auto" />
</div>
