@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="indexContainer">
    <h1>@ViewData["Title"]</h1>
    <p>Project created by Nate Ricks, Pavel Shvets, Michael Hampton, Clayton Vanfleet.</p>
</div>