@page
@model SacramentMeetingPlanner.Pages.Planners.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1 id="createNewHeader">Edit Plan</h1>
<div>
    <a class="back" asp-page="Index">Back to List</a>
</div>
<div class="row">
    <div class="plannerContainer">
        <form id="createForm" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Planner.ID" />
            <div class="createHeader">
                <p id="createTitle">Lake Fork Ward</p>
                <div id="createDateGroup" class="form-group">
                    <!--<label id="createDateLabel" asp-for="Planner.Date" class="control-label"></label>-->
                    <input id="createDateInput" asp-for="Planner.Date" class="form-control" />
                    <span id="createDateError" asp-validation-for="Planner.Date" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Planner.Leader" class="control-label">President.................................................</label>
                <input asp-for="Planner.Leader" class="form-control" />
                <span asp-validation-for="Planner.Leader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Conducting............................................</label>
                <input class="form-control" readonly value="Nate Ricks" />
            </div>
            <div class="form-group">
                <label asp-for="Planner.OpeningSong" class="control-label">Opening Hymn....................................</label>
                <input asp-for="Planner.OpeningSong" class="form-control" />
                <span asp-validation-for="Planner.OpeningSong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Planner.OpeningPrayer" class="control-label">Invocation..............................................</label>
                <input asp-for="Planner.OpeningPrayer" class="form-control" />
                <span asp-validation-for="Planner.OpeningPrayer" class="text-danger"></span>
            </div>
            <div class="informationWrapper">
                <p class="informationText">Ward Business</p>
            </div>
            <div class="form-group">
                <label asp-for="Planner.SacramentHymn" class="control-label">Sacrament Hymn....................................</label>
                <input asp-for="Planner.SacramentHymn" class="form-control" />
                <span asp-validation-for="Planner.SacramentHymn" class="text-danger"></span>
            </div>
            <div class="informationWrapper">
                <p class="informationText">Passing of the Sacrament by the Aaronic Priesthood</p>
            </div>
            <div class="form-group">
                <label asp-for="Planner.Subject" class="control-label">Speaker Subjects....................................</label>
                <input asp-for="Planner.Subject" class="form-control" />
                <span asp-validation-for="Planner.Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Planner.Speaker1" class="control-label">Speaker......................................................</label>
                <input asp-for="Planner.Speaker1" class="form-control" />
                <span asp-validation-for="Planner.Speaker1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Planner.Speaker2" class="control-label">Speaker......................................................</label>
                <input asp-for="Planner.Speaker2" class="form-control" />
                <span asp-validation-for="Planner.Speaker2" class="text-danger"></span>
            </div>
            <div id="musicNumberContainer" class="form-group">
                <label id="musicNumberLabel" asp-for="Planner.MusicalNumber" class="control-label"></label>
                <input id="musicNumberInput" asp-for="Planner.MusicalNumber" class="form-control" />
                <span id="musicNumberValidation" asp-validation-for="Planner.MusicalNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Planner.Speaker3" class="control-label">Speaker......................................................</label>
                <input asp-for="Planner.Speaker3" class="form-control" />
                <span asp-validation-for="Planner.Speaker3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Planner.Speaker4" class="control-label">Speaker......................................................</label>
                <input asp-for="Planner.Speaker4" class="form-control" />
                <span asp-validation-for="Planner.Speaker4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Planner.ClosingSong" class="control-label">Closing Hymn.........................................</label>
                <input asp-for="Planner.ClosingSong" class="form-control" />
                <span asp-validation-for="Planner.ClosingSong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Planner.ClosingPrayer" class="control-label">Benediction..............................................</label>
                <input asp-for="Planner.ClosingPrayer" class="form-control" />
                <span asp-validation-for="Planner.ClosingPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" id="createSubmit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
